{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container mt-lg-5">

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="row mt-4">
                <div class="offset-lg-2 col-lg-8">
                    <h1 class="h3 mb-3 ml-auto mr-auto font-weight-normal text-truncate" style="width: min-content">Qui etes vous ?</h1>
                </div>
            </div>

            <div class="row">
                <div class="offset-lg-2 col-lg-8">
                    <label for="inputUsername" class="sr-only">Nom d'utilisateur</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
                </div>
            </div>
            <div class="row mt-2">
                <div class="offset-lg-2 col-lg-8">
                    <label for="inputPassword" class="sr-only">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                </div>
            </div>

            <div class="row mt-4">
                <div class="offset-lg-2 col-lg-8">
                    <div class="ml-auto ">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <a class="text-truncate" href="#" data-toggle="modal" data-target="#modalForgotPassword"><small>J'ai oublié(e) mon mot de passe ...</small></a>
                        <button  class="float-right btn btn-lg btn-success-custom" type="submit">
                            Connecter
                        </button>


                    </div>
                </div>
            </div>

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}


        </form>
        <div class="modal fade" id="modalForgotPassword" tabindex="-1" role="dialog" aria-labelledby="modalForgotPassword" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div id="modalForgottenPasswordHook" class="modal-content">
                        {% include 'security/forgottenPasswordModal.html.twig' %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('login') }}

{% endblock %}
