{% extends 'base.html.twig' %}


{%  block body %}

    {% if resetSucces is defined %}

    {% else %}

            {% if form is defined  and user is defined %}
                {{ form_start(form) }}
                {{form_row(form.password) }}
                {{form_row(form.submit, {'label': 'Réinitialiser'}) }}
                {{form_row(form._token)}}
                {{ form_end(form, {'render_rest': false})}}
            {% else %}

                <h1>Impossible</h1>
            {%  endif %}

    {%  endif %}



{% endblock %}