{% extends 'base.html.twig' %}


{%  block body %}
    <div class="container">
        {% if resetSuccess is defined  and resetSuccess == true %}
            <div class="alert alert-success center-block-page shadow" role="alert">
                <h4 class="alert-heading">Félicitation !</h4>
                <p>Votre mot de passe a bien été réinitialisé, vous pouvez vous <a href="{{ path('app_login') }}" class="text-reset text-decoration-none font-weight-bold">connecter</a></p>

            </div>
            {% else %}

                {% if tokenValid is defined and tokenValid == false %}


                    <div class="alert alert-danger center-block-page shadow" role="alert">
                        <h4 class="alert-heading">ERREUR !</h4>
                        <p>Token Invalide ou manquant.</p>
                        <p>Revenir à <a class="text-decoration-none text-reset font-weight-bold" href="{{ path('index') }}" >l'accueil</a></p>
                    </div>

                {% else %}
                    {% if formSubmitted is defined and formSubmitted == true %}

                        <div class="row mt-4">
                            <div class="offset-lg-2 col-lg-8">
                                <h1 class="h3 mb-3 ml-auto mr-auto font-weight-normal text-truncate" style="width: min-content">Redefinisez votre mot de passe</h1>
                            </div>
                        </div>
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="offset-lg-2 col-lg-8">
                                {{form_row(form.password.first) }}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="offset-lg-2 col-lg-8">
                                {{form_row(form.password.second) }}
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="offset-lg-2 col-lg-8">
                                <div class="ml-auto ">

                                    {{form_row(form.submit, {'label': 'Réinitialiser'}) }}
                                    {{form_row(form._token)}}


                                </div>
                            </div>
                        </div>
                        {{ form_end(form, {'render_rest': false})}}

                    {% else %}

                        <div class="alert alert-danger center-block-page shadow" role="alert">
                            <h4 class="alert-heading">ERREUR !</h4>
                            <p>Page invalide.</p>
                            <p class="float-right">Revenir à <a class="text-decoration-none text-reset font-weight-bold" href="{{ path('index') }}" >l'accueil</a></p>
                        </div>
                    {% endif %}

                {% endif %}

        {% endif %}







    </div>

{% endblock %}