{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    {{ encore_entry_link_tags('profil') }}
{% endblock %}

{% block body %}
    <div class="container-fluid" >
        <h2 class="w-100 text-center rounded mt-4 mb-5 pt-2 pb-2 border-bottom font-weight-bold" style="color: #6c757d;">MES INFORMATIONS</h2>
    </div>
<div class="container">

    <div class="card text-gray mb-3">
        <div class="card-header custom_bg_gray_dark text-light font-weight-bold">Information</div>
        <div class="card-body">

            <div class="row">
                <div class="col-6 border-bottom">
                    <h5 class="card-title border-right font-weight-bold">Nom</h5>
                </div>
                <div class="col-6 border-bottom">
                    <p class="card-text">{{ user.lastName }}</p>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6 border-bottom">
                    <h5 class="card-title border-right font-weight-bold">Prénom</h5>
                </div>
                <div class="col-6 border-bottom">
                    <p class="card-text">{{ user.firstName }}</p>
                </div>
            </div>
            <div class="row mt-2 ">
                <div class="col-6 border-bottom">
                    <h5 class="card-title border-right font-weight-bold">Adresse mail</h5>
                </div>
                <div class="col-6 border-bottom d-flex flex-wrap">
                    <p class="card-text">{{ user.adresseMail }}</p><a role="button" href="{{ path('changeEmailA', {'id': user.id}) }}" class="btn btn-success-custom d-block ml-auto position-relative js-btn-change-mail" style="bottom: 4px;">Modifier</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <h5 class="card-title border-right font-weight-bold">Mot de passe</h5>
                </div>
                <div class="col-6">
                    <a role="button" href="{{ path('resetUserA', {'id': user.id}) }}" class="btn btn-success-custom d-block ml-auto mr-auto position-relative js-btn-reset-user" style="bottom: 4px;">Changer de mot de passe</a>
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="container-fluid" >
        <h2 class="w-100 text-center rounded mt-4 mb-5 pt-2 pb-2 border-bottom font-weight-bold" style="color: #6c757d;">MES DERNIERS POSTS</h2>
    </div>
    <div class="container">
        <div class="row">
            {% if created_articles is not empty %}
            {% for article in created_articles %}
                <div class="col-12 col-lg-4 mt-4 animateRevealX"  >
                    <div class="card custom-card-centered custom_card_index_hover_effet custom_card_without_border custom_shadow" style="margin-bottom: 5px; margin-top: 5px;">

                        <img src="{{ asset('images/'~article.image.fileName) }}" class="card-img-top custom_card_img_size" alt="...">
                        <div  class="card-body custom_card_body_size" style="position: relative">
                            <a id="btn-show-#id#" href="{{ path('show_article', {'id': article.id}) }}" class="text-decoration-none text-reset"><h5 id="card-title-#id#" class="card-title custom_card_title_index">{{ article.title }}</h5></a>

                            <p id="card-description-#id#" class="card-text custom_card_text_list">{{ article.description }}</p>
                            <div class="btn-group" style="position: absolute; bottom: 10px; right: 0; left: 0; font-size: 0.8em">
                            </div>

                        </div>

                        <div class="card-footer text-muted custom_card_footer_bg_color" style="padding-right: 0.1rem !important; border: 0 !important;">
                            <div  class="d-flex bd-highlight mb-3" style="font-size: 0.8rem">
                                <small class="mr-auto">le : <strong>{{ article.createdAt|date("d/m/Y H:i:s") }}</strong>  par <strong>{{ article.user.username }}</strong> dans <strong class="text-nowrap">{{ article.numCategory.libele }}</strong> </small>
                                <button {% if article.tags is empty %} disabled='disabled' {% endif %}class="btn btn-secondary btn-sm dropdown-toggle p-2 bd-highlight" style="margin-top: 4px;" type="button" data-toggle="collapse" data-target="#collapseTags-{{ article.id }}" aria-expanded="false" aria-controls="collapseExample">Tags</button>

                                <a id="popover-{{ article.id }}" tabindex="0" class="p-2 bd-highlight js-popover" role="button" data-trigger="focus" data-html="true" data-toggle="popover" data-placement="bottom" data-content="<a role='button' href='/article/edit/{{ article.id }}' class='btn btn-secondary btn-sm w-100 mb-1 d-block'>Editer</a> <a role='button' data-toggle='modal' data-target='#modalValiddelete' href='/rmArticleA/?id={{ article.id }}' class='btn btn-danger btn-sm w-100 js-btn-suppr' >Supprimer</a>"><img src="{{ asset('images/ellipsis-16.svg')}}"></a>
                            </div>
                            <div class="collapse" style="overflow-x: hidden" id="collapseTags-{{ article.id }}">{% if article.tags is not empty %}{% for tag in article.tags %}<span class="badge badge-success-custom mr-1">{{ tag.tagName }}</span>{% endfor %} {% endif %}</div>


                        </div>

                    </div>

                </div>
            {% endfor %}
            {% else %}
                <div class="jumbotron custom_bg_blue text-light w-75 mr-auto ml-auto"><h4>Vous n'avez publié aucun Post, Cliquez <a   class="font-weight-bold text-dark" href="{{ path('create_article') }}">ici</a> pour en créer un</h4></div>
            {% endif %}
        </div>
    </div>

    <div class="container-fluid" >
        <h2 class="w-100 text-center rounded mt-4 mb-5 pt-2 pb-2 border-bottom font-weight-bold" style="color: #6c757d;">MES DERNIERES RECHERCHES</h2>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-header  text-white font-weight-bold custom_bg_gray_dark">
                Historique des recherches
            </div>
            <div class="d-flex flex-row flex-wrap">
                {% if historySearchArticles is not empty %}
                {% if historySearchArticles is defined %}
                    {% for historySearchArticle in historySearchArticles %}
                        <li class="list-group-item col-lg-6">
                            <p class="text-truncate"><small>Recherche éffectué le <span class="font-weight-bold">{{ historySearchArticle.searchDate|date("d/m/Y H:i", "Europe/Paris") }}</span> par <span class="font-weight-bold"> {% if historySearchArticle.byUser is not null %} {{ historySearchArticle.byUser.username }} {% else %} Visiteur {% endif %}</span></small></p>
                            <p>Terme(s) de la recherche :</p>
                            <ul class="list-group list-group-flush rounded">

                                {% if historySearchArticle.content is not null %}
                                    <li class="list-group-item bg-light"><span class="font-weight-bold">contenu : </span>{{ historySearchArticle.content }}</li>
                                {% endif %}
                                {% if historySearchArticle.category is not null %}
                                    <li class="list-group-item bg-light"><span class="font-weight-bold">Categorie(s) : </span>{{ historySearchArticle.category }}</li>
                                {% endif %}
                                {% if historySearchArticle.tag is not null %}
                                    {% set tags = historySearchArticle.tag|split(',') %}
                                    <li class="list-group-item bg-light"><span class="font-weight-bold">Tag(s) : </span>
                                        {% for tag in tags %}
                                            <span class="badge badge-success-custom">{{ tag }}</span>
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                {% if historySearchArticle.category is not null %}
                                    {% set categories = historySearchArticle.category|split(',') %}
                                    <li class="list-group-item bg-light"><span class="font-weight-bold">categorie(s) : </span>
                                        {% for category in categories %}
                                            <span class="badge badge-secondary">{{ category }}</span>
                                        {% endfor %}
                                    </li>
                                {% endif %}
                                {% if historySearchArticle.createdAfter is not null %}
                                    <li class="list-group-item bg-light"><span class="font-weight-bold">Créé apres : </span>{{ historySearchArticle.createdAfter|date("d/m/Y H:i", "Europe/Paris") }}</li>
                                {% endif %}
                                {% if historySearchArticle.createdBefore is not null %}
                                    <li class="list-group-item bg-light"><span class="font-weight-bold">Créé avant : </span>{{ historySearchArticle.createdBefore|date("d/m/Y H:i", "Europe/Paris") }}</li>
                                {% endif %}
                                {% if historySearchArticle.createdAfter is not null %}
                                    <li class="list-group-item bg-light"><span class="font-weight-bold">Créé apres : </span>{{ historySearchArticle.createdAfter|date("d/m/Y H:i", "Europe/Paris") }}</li>
                                {% endif %}

                            </ul>
                        </li>
                    {% endfor %}
                {% endif %}
                {% else %}
                    <p class="text-center w-100 mt-2">Vous n'avez effectué aucune recherche</p>
                {% endif %}
            </div>
            {% if historySearchArticles is not empty %}
            <li class="list-group-item"><a class="text-decoration-none btn btn-success-custom text-light mr-auto ml-auto w-100" href="{{ path('admin-search-article-hystory') }}">Voir plus ...</a></li>
            {% endif %}
        </div>
        {{ include('article/modalValideDelete.html.twig') }}
    </div>
    <div id="modal_encre_user"></div>
{%  endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('profil') }}

{% endblock %}