{% extends 'base.html.twig' %}

{% block title %}Memo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide p-3 mb-5 bg-white rounded custom_carousel" data-ride="carousel">
            <ol class="carousel-indicators">
            {% for article in articles %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index -1 }}" {% if loop.first %}class="active" {% endif %}></li>
            {% endfor %}
            </ol>
            <div class="carousel-inner custom_shadow" >
                {% for article in articles %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ asset('images') }}/{{ article.image.fileName }}" class="d-block w-100" style="height: 500px" alt="...">
                        <div class="carousel-caption d-none d-md-block custom_carousel_caption">
                            <h5>{{ article.title }}</h5>
                            <p>{{ article.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        {% if articles %}
                <div class="row">
                {% for article in articles %}
                    <div class="col-12">
                        <div class="card mb-3 mb-md-5 custom_shadow">
                            <div class="row no-gutters" style="margin-left: -15px;">
                                <div class="col-md-4" style="z-index: 2;">
                                    <img src="{{ asset('images') }}/{{ article.image.fileName }}" style="margin-top: 10px;" class="card-img shadow-lg custom_card_img_size_index" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body d-flex flex-column" style="height: 276px; padding-left: 0; padding-right: 0; padding-top: 0;">
                                        <h5 class="bg-white text-dark card-title font-weight-bold text-center pl-4 pr-4 pt-md-2 pt-3 pb-3 rounded" >{{ article.title }}</h5>
                                        <p class="card-text Light weight text custom_card_text_index pl-4 pr-2" style="flex-basis: 100%;">{{ article.description }}</p>
                                        <p class="card-text border-top d-flex flex-row-reverse pr-4" style="padding-top: 10px;" ><small class="text-muted align-self-end">le : <strong>{{ article.CreatedAt | date("d/m/Y H:i:s") }} </strong> {% if article.user.username is defined %} par <strong>{{ article.user.username }} </strong>{% endif %}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
        {% else %}

            <div class="jumbotron justify-content-center mt-4">
                <h1 class="display-4">Oupsss !</h1>
                <p class="lead">Il n'y a pas d'article à afficher !</p>
                <hr class="my-4">
                {% if is_granted('ROLE_WRITER') %}
                    <a class="btn btn-primary btn-lg" href="{{ path('create_article') }}" role="button">Créer un article</a>
                {% else %}
                    <p><a href="{{ path('app_login') }}">connectez vous</a>{% if is_granted('ROLE_VIEWER') %} avec un utilisateur "rédacteur" {% endif %}pour écrire un article. </p>
                {% endif %}
            </div>

        {%  endif %}

        <div class="card mb-3 custom_shadow">
            <div class="row no-gutters">
                <div class="col-md-4" style="z-index: 2;">
                    <img src="{{ asset('images/1.jpg') }}" class="card-img custom_shadow custom_card_img_size_index" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body d-flex flex-column" style="height: 276px; padding-left: 0; padding-right: 0; padding-top: 0;">
                        <h5 class="bg-light text-dark card-title font-weight-bold text-center pt-md-1 pt-4" style="padding-bottom: 2%; padding-top: 2%;: ">Card title</h5>
                        <p class="card-text Light weight text custom_card_text_index pl-4 pr-2" style="flex-basis: 100%;">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text border-top d-flex pl-4" style="padding-top: 10px;" ><small class="text-muted align-self-end">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts %}

    {{ parent() }}

{% endblock %}