{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('AdminDashboard') }}
{%  endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row" style="margin-top: 6rem;">
            <div class="col-sm-12 col-lg-2">
                <div class="bg-light rounded border bg-light p-4">
                <div class="nav flex-column nav-pills" id="v-menu" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active text-gray text-decoration-none text-reset mb-1" id="v-menu-1" data-toggle="pill" href="" role="tab" aria-controls="v-pills-home" aria-selected="true">Tableau de bord</a>
                    <a class="nav-link text-gray text-decoration-none text-reset mb-1" id="v-menu-2" data-toggle="pill" href="" role="tab" aria-controls="v-pills-profile" aria-selected="false">Contenu</a>
                    <a class="nav-link text-gray text-decoration-none text-reset mb-1" id="v-menu-3" data-toggle="pill" href="" role="tab" aria-controls="v-pills-messages" aria-selected="false">Utilisateurs</a>
                    <a class="nav-link text-gray text-decoration-none text-reset" id="v-menu-4" data-toggle="pill" href="" role="tab" aria-controls="v-pills-settings" aria-selected="false">Parametre</a>
                </div>
                </div>
            </div>
            <div class="offset-sm-0 col-sm-12 offset-lg-1 col-lg-8 mt-4 mt-lg-0">
                <div class="tab-content" id="v-menu-tabContent">
                    <div class="tab-pane" id="v-menu-1-content" role="tabpanel" aria-labelledby="v-pills-home-tab">{% include('admin/dashboard.html.twig') %}</div>
                    <div class="tab-pane" id="v-menu-2-content" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div id="menu-2-content-1" class="">
                            <ul class="nav nav-pills mb-3" id="menu-2-content-1-h-menu" role="tablist">
                                <li class="nav-item mr-1">
                                    <a class="nav-link active text-decoration-none text-reset" id="pills-home-tab" data-toggle="pill" href="#menu-2-content-1-h-menu-content-1" role="tab" aria-controls="pills-home" aria-selected="true">Articles</a>
                                </li>
                                <li class="nav-item mr-1">
                                    <a class="nav-link text-decoration-none text-reset" id="pills-profile-tab" data-toggle="pill" href="#menu-2-content-1-h-menu-content-2" role="tab" aria-controls="pills-profile" aria-selected="false">Catégories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none text-reset" id="pills-contact-tab" data-toggle="pill" href="#menu-2-content-1-h-menu-content-3" role="tab" aria-controls="pills-contact" aria-selected="false">Tags</a>
                                </li>
                            </ul>
                            <div class="tab-content mt-lg-5" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="menu-2-content-1-h-menu-content-1" role="tabpanel" aria-labelledby="pills-home-tab">{%  include('admin/menu-article.html.twig') %}</div>
                                <div class="tab-pane fade" id="menu-2-content-1-h-menu-content-2" role="tabpanel" aria-labelledby="pills-profile-tab">{% include('admin/menu-category.html.twig') %}</div>
                                <div class="tab-pane fade" id="menu-2-content-1-h-menu-content-3" role="tabpanel" aria-labelledby="pills-contact-tab">{% include('admin/menu-tag.html.twig') %}</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="v-menu-3-content" role="tabpanel" aria-labelledby="v-pills-messages-tab">{% include('admin/menu-user.html.twig') %}</div>
                    <div class="tab-pane" id="v-menu-4-content" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                </div>
            </div>
        </div>
    </div>

    {% include 'article/modalValideDelete.html.twig' %}
{% endblock %}


{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('AdminDashboard-menu-article') }}
    {{ encore_entry_script_tags('AdminDashboard-menu-category') }}
    {{ encore_entry_script_tags('AdminDashboard-menu-tag') }}
    {{ encore_entry_script_tags('AdminDashboard-menu-user') }}

{% endblock %}