{# @var lastEditArticle \App\Entity\Article #}
{# @var lastCreatedArticle \App\Entity\Article #}
{# @var lastEditCategory \App\Entity\Category #}
{# @var lastCreatedCategory \App\Entity\Category #}
{# @var lastCreatedTag \App\Entity\Tag #}
{# @var lastEditTag \App\Entity\Tag #}



<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-header bg-primary text-white font-weight-bold">
                    Articles
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Nombre : </span> {{ nbArticles }}</li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernier article modifié :</span><br><a class="text-muted text-decoration-none" href="{{ path('show_article', {'id': lastEditArticle.id }) }}">{{ lastEditArticle.title is null ? "Non défini" :  lastEditArticle.title}}</a>
                        <div class="w-100 text-right">
                            <small>Par : <strong>{{ lastEditArticle.lastEditUser is null ? "Non défini" : lastEditArticle.lastEditUser.username}}</strong> le {{ lastEditArticle.lastEdit is null ? "Non défini" : lastEditArticle.lastEdit|date("d/m/y H:i:s") }}</small>
                        </div>
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernier article créé :</span><br><a class="text-decoration-none text-muted" href="{{ path('show_article', {'id': lastCreatedArticle.id }) }}">{{ lastCreatedArticle.title is null ? "Non défini" : lastCreatedArticle.title}}</a>
                        <div class="w-100 text-right">
                            <small>Par : <strong>{{ lastCreatedArticle.user is null ? "Non défini" : lastCreatedArticle.user.username}}</strong> le {{ lastCreatedArticle.createdAt|date("d/m/y H:i:s") }}</small>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-3">
            <div class="card shadow">
                <div class="card-header text-white font-weight-bold" style="background-color: #4e9a87; ">
                    Categories
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Nombre : </span>{{ nbCategory }}</li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernière catégorie modifiée :</span><br> {{ lastEditCategory.libele }}
                        <div class="w-100 text-right">
                            <small>Par : <strong>{{ lastEditCategory.modifiedUser is null ? "Non défini" : lastEditCategory.modifiedUser.username }}</strong> le {{ lastEditCategory.modifiedAt is null ? "Non défini" : lastEditCategory.modifiedAt|date("d/m/y H:i:s") }}</small>
                        </div>
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernière catégory créée :</span><br> {{ lastCreatedCategory.libele }}
                        <div class="w-100 text-right">
                            <small>Par : <strong>{{ lastCreatedCategory.createdUser is null ? "Non défini" : lastCreatedCategory.createdUser.username }}</strong> le {{ lastCreatedCategory.createdAt|date("d/m/y H:i:s") }}</small>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-3">
            <div class="card shadow">
                <div class="card-header text-white font-weight-bold" style="background-color: #f1bc5f;">
                    Tags
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Nombre : </span>{{  nbTag }}</li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernier tag modifié :</span><br> {{ lastEditTag.tagName }}
                        <div class="w-100 text-right">
                            <small>Par : <strong>{{ lastEditTag.modifiedUser is null ? "Non défini" : lastEdittag.modifiedUser.username }}</strong> le {{ lastEditTag.modifiedAt is null ? "Non défini" : lastEditTag.modifiedAt|date("d/m/y H:i:s") }}</small>
                        </div>
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernier Tag créé :</span><br> {{ lastCreatedTag.tagName }}
                        <div class="w-100 text-right">
                            <small>Par : <strong>{{ lastCreatedTag.createdUser is null ? "Non défini" : lastCreatedTag.createdUser.username }}</strong> le {{ lastCreatedTag.createdAt|date("d/m/y H:i:s") }}</small>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="offset-md-1 col-md-3">
            <div class="card shadow">
                <div class="card-header text-white font-weight-bold" style="background-color: #2c4344;">
                    Utilisateurs
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Nombre :</span> 5</li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernier utilisateur modifié :</span><br> Jérémy
                        <div class="w-100 text-right">
                            <small>Par : <strong>admin</strong> le 10/10/2019</small>
                        </div>
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold ">Dernier utilisateur créée :</span><br> Jérémy
                        <div class="w-100 text-right">
                            <small>Par : <strong>admin</strong> le 10/10/2019</small>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-3">
            <div class="card shadow">
                <div class="card-header text-white font-weight-bold" style="background-color: #fc242c;">
                    Top des Posts
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item"><span class="font-weight-bold">Top 10 des posts les plus vus :</span></li>

                </div>
            </div>
        </div>
        <div class="offset-md-1 col-md-3">
            <div class="card">
                <div class="card-header  text-white font-weight-bold" style="background-color: #9907cf;">
                    Historique des recherches
                </div>
                <div class="list-group list-group-flush">
                    <li class="list-group-item">...</li>
                </div>
            </div>
        </div>
    </div>
</div>


