{{ form_start(formTag) }}

<button class="btn border d-block d-md-none mb-3 w-100" type="button" data-toggle="collapse" data-target="#menu-tag-collapse-form">
    <span class="custom_background-btn navbar-toggler-icon"></span>Filtres
</button>

<div id="menu-tag-collapse-form" class="collapse">
    <div class="row">
        <div class="col-sm-12 col-md-6">{{ form_row(formTag.id) }}</div>
        <div class="col-sm-offset-0 col-sm-12 col-md-6"> {{form_row(formTag.tagName) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <button id="addTagButton" class="btn btn-outline-primary mb-4 w-100">Ajouter un tag</button>
                </div>
            </div>
            <div class="row">
                <div id="divAddNewTag" class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input id="input-create-new-tag" placeholder="Nom du tag à créer" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3 offset-md-9">
                            <div class="form-group">
                                <button id="btn-create-new-tag"  type="submit" class="btn btn-outline-success w-100">Ajouter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 ml-auto">
            {{form_row(formTag.submit, {'attr': {'class': 'float-right btn btn-outline-success w-100' }})}}
        </div>
    </div>

</div>


{{ form_end(formTag) }}

<div class="table-responsive mt-4">
    <table class="table table-hover">
        <thead class="table-dark">
        <tr id="title-lines">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="table-body-tag">

        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-10">
        <div id="pagination-tag" style="width: min-content ; margin: auto;"></div>
    </div>
    <div class="col-2">
        <select id="selecter-tag">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
        </select>
    </div>
</div>