{# @var formArticle \App\Entity\Article\Filter\ArticleFilter #}
{{ form_start(formArticle) }}
<div class="row">

    <div class="col-4">
        {{ form_row(formArticle.title) }}
        {{ form_row(formArticle.user) }}
        <a class="btn btn-primary float-left" href="{{ path('create_article') }}">Ajouter un artcile</a>
    </div>
    <div class="col-4">
        {{  form_row(formArticle.numCategory) }}
        {{ form_row(formArticle.tags) }}
        <div id="tagsList"></div>
    </div>
    <div class="col-4">
        {{ form_row(formArticle.createdAtAfter) }}
        {{  form_row(formArticle.createdAtBefore) }}
        {{  form_row(formArticle.submit) }}
    </div>

</div>
{{ form_row(formArticle.nbResult) }}
{{ form_row(formArticle.pageSelected) }}
{{ form_row(formArticle._token) }}
{{ form_end(formArticle, {'render_rest': false}) }}
<div class="table-responsive mt-4">
    <table class="table table-hover">
        <thead class="table-dark" style="background-color: #343a40;">
        <tr id="title-lines">
            <th scope="col">ID</th>
            <th scope="col">Titre</th>
            <th scope="col">Category</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date création</th>
            <th scope="col">Date dernière modification</th>
            <th scope="col">Description</th>
            <th scope="col">Tags</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>



</div>
<div class="row">
    <div class="col-10">
        <div id="pagination-article" style="width: min-content ; margin: auto;"></div>
    </div>
    <div class="col-2">
        <select id="selecter-article">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
        </select>
    </div>
</div>


