{# @var formCategory \App\Entity\Category\Filter\CategoryFilter #}
{# @var formCategory.createCategory \App\Entity\Category#}
{{ form_start(formCategory) }}
<div class="row">

    <div class="col-6">
        {{ form_row(formCategory.id) }}

        <button id="addCategoryButton" class="btn btn-primary mb-4">Ajouter une categorie</button>
        <div id="divAddNewCategory" class="row">
            <div class="col-10">

                {{ form_row(formCategory.createCategory.libele, {'label': false, 'required': false, 'attr': {'placeholder': 'Nom de la catégorie à créer'} } )}}

            </div>
            <div class="col-2">
                {{ form_row(formCategory.createCategory.submit, {'label': 'Ajouter'}) }}
            </div>
        </div>
    </div>
    <div class="col-6">
        {{form_row(formCategory.libele) }}
        {{ form_row(formCategory.search) }}
    </div>
</div>
{{ form_row(formCategory.nbResult) }}
{{ form_row(formCategory.pageSelected) }}
{{ form_row(formCategory.clickedButton) }}
{{ form_row(formCategory._token) }}
{{ form_end(formCategory, {'render_rest': false})  }}

<div class="table-responsive mt-4">
    <table class="table table-hover">
        <thead class="table-dark">
        <tr id="title-lines">
            <th scope="col">ID</th>
            <th scope="col">Libele</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="table-body-category">

        </tbody>
    </table>
</div>