{# @var formArticle \App\Entity\Article\Filter\ArticleFilter #}
{{ form_start(formArticle) }}

<button class="btn border d-block d-md-none mb-3 w-100" type="button" data-toggle="collapse" data-target="#menu-article-collapse-form">
    <span class="custom_background-btn navbar-toggler-icon"></span>Filtres
</button>

<div id="menu-article-collapse-form" class="collapse">

    <div class="row">
        <div class="col-md-4">{{ form_row(formArticle.title) }}</div>
        <div class="col-md-4">{{  form_row(formArticle.numCategory) }}</div>
        <div class="col-md-4">{{ form_row(formArticle.createdAtAfter) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(formArticle.user) }}</div>
        <div class="col-md-4">{{ form_row(formArticle.tags) }}<div id="tagsList"></div></div>
        <div class="col-md-4">{{  form_row(formArticle.createdAtBefore) }}</div>
    </div>

    <div class="row">
        <div class="col-md-3 mb-2 mb-md-0"><a class="btn btn-success-custom w-100 float-left" href="{{ path('create_article') }}">Ajouter un article</a></div>
        <div class="offset-md-7 col-md-2 ">{{  form_row(formArticle.submit, {'attr': {'class': 'float-right btn-success-custom w-100'}}) }}</div>
    </div>

</div>


{{ form_row(formArticle.nbResult) }}
{{ form_row(formArticle.pageSelected) }}
{{ form_row(formArticle._token) }}
{{ form_end(formArticle, {'render_rest': false}) }}


<div class="table-responsive mt-5">

    <table id="table-admindashBoardArticle" class="table table-hover">
        <thead class="table-dark" style="background-color: #343a40;">
        <tr id="title-lines">
            <th scope="col">ID</th>
            <th scope="col">Titre</th>
            <th class="d-none d-md-table-cell" scope="col">Category</th>
            <th class="d-none d-md-table-cell" scope="col" >Auteur</th>
            <th class="d-none d-md-table-cell" scope="col">Date création</th>
            <th class="d-none d-md-table-cell" scope="col">Date dernière modification</th>
            <th class="d-none d-md-table-cell" scope="col">Description</th>
            <th class="d-none d-md-table-cell" scope="col">Tags</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="table-admindashBoardArticle-body">

        </tbody>
    </table>

    <div id="spinnerLoadingGeneralSearch-adminDashboardArticle" class="spinner m-0 mr-auto ml-auto" style="display: none">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

</div>
<div class="row">
    <div class="col-10">
        <div id="pagination-article" style="width: min-content ; margin: auto;"></div>
    </div>
    <div class="col-2">
        <select id="selecter-article">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
        </select>
    </div>
</div>


