{# @var formCategory \App\Entity\Category\Filter\CategoryFilter #}
{# @var formCategory.createCategory \App\Entity\Category#}
{{ form_start(formCategory) }}

<button class="btn border d-block d-md-none mb-3 w-100" type="button" data-toggle="collapse" data-target="#menu-category-collapse-form">
    <span class="custom_background-btn navbar-toggler-icon"></span>Filtres
</button>

<div id="menu-category-collapse-form" class="collapse">
    <div class="row">
        <div class="col-sm-12 col-md-6">{{ form_row(formCategory.id) }}</div>
        <div class="col-sm-offset-0 col-sm-12 col-md-6"> {{form_row(formCategory.libele) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-5">
                    <button id="addCategoryButton" class="btn badge-success-custom mb-4 w-100">Ajouter une categorie</button>
                </div>
            </div>
            <div class="row">
                <div id="divAddNewCategory" class="col-12">
                    <div class="row">
                        <div class="col-12">
                            {{ form_row(formCategory.createCategory.libele, {'label': false, 'required': false, 'attr': {'placeholder': 'Nom de la catégorie à créer'} } )}}
                        </div>
                        <div class="col-md-3 offset-md-9">
                            {{ form_row(formCategory.createCategory.submit, {'label': 'Ajouter', 'attr': {'class': 'btn badge-success-custom w-100'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 ml-auto">
            {{ form_row(formCategory.search, {'attr': {'class': 'float-right badge-success-custom w-100'}}) }}
        </div>
    </div>
</div>

{{ form_row(formCategory.nbResult) }}
{{ form_row(formCategory.pageSelected) }}
{{ form_row(formCategory.clickedButton) }}
{{ form_row(formCategory._token) }}
{{ form_end(formCategory, {'render_rest': false})  }}

<div class="table-responsive mt-4">
    <table class="table table-hover">
        <thead class="table-dark">
        <tr id="title-lines">
            <th scope="col">ID</th>
            <th scope="col">Libele</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="table-body-category">

        </tbody>
    </table>
    <div id="spinnerLoadingGeneralSearch-adminDashboardCategory" class="mr-auto ml-auto" style="display: none">
        {{ include('divers/animation/loading-medium.html.twig') }}
    </div>
</div>

<div class="row">
    <div class="col-10">
        <div id="pagination-category" style="width: min-content ; margin: auto;"></div>
    </div>
    <div class="col-2">
        <select id="selecter-category">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
        </select>
    </div>
</div>