{{ form_start(formCategory) }}
<div class="row">

    <div class="col-6">
        {{ form_row(formCategory.id) }}

        <button id="addCategoryButton" class="btn btn-primary mb-4">Ajouter une categorie</button>
        <div id="divAddNewCategory" class="row">
            <div class="col-10">
                {{ form_row(formCategory.newLibele)}}
            </div>
            <div class="col-2">
                <button id="confimAddCategoryButton" class="btn btn-primary">Ajouter</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        {{form_row(formCategory.libele) }}
        <button id="validateCategoryButton" class="btn btn-success float-right">Appliquer</button>
    </div>
</div>


{{ form_end(formCategory) }}

<div class="table-responsive mt-4">
    <table class="table table-hover">
        <thead class="table-dark">
        <tr id="title-lines">
            <th scope="col">ID</th>
            <th scope="col">Libele</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="table-body-category">

        </tbody>
    </table>
</div>