{# @var formUser \App\Entity\User\Filter\UserFilter #}
{# @var formUserAdd \App\Form\User\Add\UserAddType #}
{{ form_start(formUser) }}

<button class="btn border d-block d-md-none mb-3 w-100" type="button" data-toggle="collapse" data-target="#menu-user-collapse-form">
    <span class="custom_background-btn navbar-toggler-icon"></span>Filtres
</button>

<div id="menu-user-collapse-form" class="collapse">

    <div class="row">
        <div class="col-md-6">
            {{ form_row(formUser.id) }}
        </div>
        <div class="col-md-6">
            {{form_row(formUser.username) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form_row(formUser.enable) }}
        </div>
        <div class="col-md-6">
            {{form_row(formUser.roles) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form_row(formUser.adresseMail) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mr-auto">
            <div class="form-group">
                <button id="addUserButton" type="button" class="btn btn-success-custom w-100" data-toggle="modal" data-target="#addUserModel">
                    Ajouter un utilisateur
                </button>
            </div>
        </div>
        <div class="col-md-2 ml-auto">
            {{form_row(formUser.submit, {'attr': {'class': 'btn-success-custom w-100'}}) }}
        </div>
    </div>

</div>





{{ form_end(formUser) }}

<div class="table-responsive mt-4">
    <table class="table table-hover">
        <thead class="table-dark">
        <tr id="title-lines">
            <th scope="col">ID</th>
            <th scope="col">Nom d'utilisateur</th>
            <th class="d-none d-md-table-cell" scope="col">Role</th>
            <th class="d-none d-md-table-cell" scope="col">Nom</th>
            <th class="d-none d-md-table-cell" scope="col">Prénom</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody id="table-body-user">

        </tbody>
    </table>
    <div id="spinnerLoadingGeneralSearch-adminDashboardUser" class="spinner m-0 mr-auto ml-auto" style="display: none">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <div id="pagination-user" style="width: min-content ; margin: auto;"></div>
    </div>
    <div class="col-2">
        <select id="selecter-user">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
        </select>
    </div>
</div>


<div id="modal_edt_user"></div>

