<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


</head>
<body>

{%  block navBare %}
    <nav class="navbar navbar-expand-lg navbar-light" style="position: sticky; top: 0px; box-shadow: 0px 0px 4px 5px rgba(0,0,0,0.3); z-index: 1000; padding-bottom: 0; background-color: rgba(0,0,0,0.73) !important; padding: 0rem 1rem;">
        <a class="navbar-brand" href="{{ path('index') }}"><h2 class=" text-light font-weight-bold">Memo</h2></a><
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('list_article') }}">liste des articles <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('create_article') }}">Créer un article <span class="sr-only">(current)</span></a>
                </li>
            </ul>


            {% if app.request.attributes.get('_route') == 'create_article' or app.request.attributes.get('_route') == 'edit_article' %}
                {% if form.vars.value.id is not null %}
                    {% if is_granted('ARTICLE_DELETE', form.vars.value) %}
                        <a class="btn btn-sm btn-danger js-btn-suppr float-right mr-1" data-toggle="modal" data-target="#modalValiddelete" href="{{ path('delete_article', {'id': form.vars.value.id } ) }}">Supprimer</a>
                    {% endif %}
                {% endif %}
                <button id="create_edt_article" class="btn btn-sm btn-success-custom float-right mr-4">{% if form.vars.value.id is null %}Créer {% else %} Modifier {% endif %}</button>
            {% endif %}

            {% if app.request.attributes.get('_route') == 'show_article' %}
                {% if  is_granted('ARTICLE_DELETE', article) %}
                    <ul class="navbar-nav ml-auto mr-4">
                        <li class="nav-item mr-2">
                            <a href="{{ path('edit_article', {'id': article.id}) }}" class="btn btn-success-custom">Editer</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('delete_article', {'id': article.id}) }}" class="btn btn-danger js-btn-suppr" data-toggle="modal" data-target="#modalValiddelete">Supprimer</a>
                        </li>

                    </ul>
                {% endif %}
            {% endif %}

            <ul class="nav navbar-nav dropdown">
                <form class="form-inline my-2 my-lg-0 mr-md-3" name="generalSearch">
                    <input class="form-control form-control-sm mr-sm-2"   type="search" id="general_search_searchString" placeholder="Recherche Rapide" data-toggle="dropdown" aria-label="Search">
                    <div id="dropDownGeneralSearch" class="dropdown-menu shadow w-100">
                        <div id="spinnerLoadingGeneralSearch" class="spinner mr-auto ml-auto" style="display: none">
                            <div class="bounce1 shadow-custom-dark"></div>
                            <div class="bounce2 shadow-custom-dark"></div>
                            <div class="bounce3 shadow-custom-dark"></div>
                        </div>
                        <div id="ListResultsGeneralSearch" class="list-group">

                        </div>
                    </div>
                    <button class="btn btn-sm btn-success-custom my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </ul>

            {% if not is_granted('ROLE_USER') %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link text-light" href="{{ path('subscribe') }}">Créer un compte</a></li>
                    <li class="nav-item"><a  class="nav-link text-light" href="{{ path('app_login') }}">Se connecter</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="background-color: #000000ba !important;" aria-labelledby="navbarDropdown">
                            {% if app.user.username == 'admin' %}
                                <a class="dropdown-item text-light" href="{{ path('admin_page') }}">Admin Dashboard</a>
                            {% else %}
                                <a class="dropdown-item text-light" href="{{ path('profil') }}">Profil</a>
                            {% endif %}
                            <a class="dropdown-item text-light" href="{{ path('logout') }}">Déconnexion</a>
                        </div>
                    </li>
                </ul>
            {%  endif %}
        </div>

    </nav>
{%  endblock %}

{% block flash_messages %}
    <div id="flash-message">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong> {{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong> {{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        {% endfor %}
    </div>
{%  endblock %}
<div style="flex :1; ">
    {% block body %}


    {% endblock %}
</div>

{% block footer %}
    <div class="shadow mt-4 footer w-100">
        <nav class="nav">
            <a class="nav-link text-light text-decoration-none" href="{{ path('index') }}">Accueil</a>
            <a class="nav-link text-light text-decoration-none" href="{{ path('list_article') }}">Les articles</a>
            <a class="nav-link text-light text-decoration-none" href="{{ path('list_article') }}">Créer un article</a>

            {% if not is_granted('ROLE_USER') %}

                <a class="nav-link text-light text-decoration-none ml-auto" href="{{ path('subscribe') }}">Créer un compte</a>
                <a  class="nav-link text-light text-decoration-none" href="{{ path('app_login') }}">Se connecter</a>

            {% else %}
                {% if app.user.username == 'admin' %}
                    <a class="nav-link text-light text-decoration-none ml-auto" href="{{ path('admin_page') }}">Admin Dashboard</a>
                {% else %}
                    <a class="nav-link text-light text-decoration-none" href="#">Profil</a>
                {% endif %}
                <a class="nav-link text-light text-decoration-none" href="{{ path('logout') }}">Déconnexion</a>
            {% endif %}
        </nav>


    </div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('app') }}


    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script> bsCustomFileInput.init();
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
        $(".js-popover-article").popover({ trigger: "hover" });

        /*******/


        $("form[name='generalSearch']").submit(function (e) {
            e.preventDefault();
            if ( $('#general_search_searchString').val().length > 0){
                window.location.replace("/list?content=" + $('#general_search_searchString').val());
            }
        });



        $('#general_search_searchString').on('input', function (e) {
            console.log($(this).val());
            if ($(this).val().length <=0)
            {
                $('#ListResultsGeneralSearch').empty();
                $('#dropDownGeneralSearch').dropdown('hide');
            }
            if ($(this).val().length >= 3) {
                $('#dropDownGeneralSearch').dropdown('show');
                $.ajax({
                    // url: $form.attr('action'),
                    url: '/article/generalSearch?search='+$(this).val(),
                    type: 'POST',
                    beforeSend: function () {
                        $('#spinnerLoadingGeneralSearch').addClass('d-block');
                        $('#spinnerLoadingGeneralSearch').show();

                    }

                }).done(function (data) {
                    $('#spinnerLoadingGeneralSearch').removeClass('d-block');
                    $('#spinnerLoadingGeneralSearch').hide();
                    $('#ListResultsGeneralSearch').empty();
                    let parsedData = JSON.parse(data);
                    $.each(parsedData, function (i, element) {

                        let lementMenu =
                            '<a href="/show/'+ element.id +'" class="list-group-item list-group-item-action flex-column align-items-start border-0">' +
                            '   <div class="row">'+
                            '       <div class="col-md-9"><span class="font-weight-bold" >' + element.title + '</span></div>'+
                            '       <div class="col-md-3"><span class="badge badge-pill badge-success-custom badge-zoom float-right">'+ element.libele +'</span></div> '+
                            '       <div class="col-xs-12 w-100 ml-md-3"><span style="font-size: 0.8rem;">' + element.description + '</span></div> '+
                            '    </div>' +
                            '  </a>';
                        $(lementMenu).appendTo($('#ListResultsGeneralSearch'));
                    })

                    $('#ListResultsGeneralSearch a').click(function (e) {
                        e.preventDefault();
                        console.log('toto');
                        document.location.href = $(this).attr('href');
                    })
                })
            }
        });


        $('#general_search_searchString').focus(function (e) {

            if ($(this).val().length <= 0)
            {

                $('#ListResultsGeneralSearch').empty();
                $('#dropDownGeneralSearch').dropdown('hide');

            }
        });

        $('.js-btn-suppr').each(function () {
            $(this).click(function () {
                $('#buttonValidDelete').attr('href', $(this).attr('href'));
                $('#buttonValidDelete').click(function (e) {
                    e.preventDefault();
                    document.location.href= $('#buttonValidDelete').attr('href');

                });
            });
        });

    </script>


{% endblock %}

</body>
</html>