{% extends 'base.html.twig' %}

{% block title %}Hello CreateArticleController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        {{ form_start(form, {'attr': {'id': 'form'}}) }}

        <div class="row mt-4">
            <div class="offset-md-2 col-md-8">
                <div class="form-group">
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'invisible_input', 'style': 'font-size: 2rem'}}) }}
                    {{ form_help(form.title) }}
                </div>
            </div>
        </div>
        <div class="row">

            <div class="offset-md-2 col-md-4">
                <div id="form-category" class="form-group col">

                    {{ form_errors(form.num_category) }}
                    {{ form_widget(form.num_category) }}
                    <input type="text" id="selectHiden"  class="form-control mt-4" style="display: none">
                    <button type="button" id="submitHiden"  class="form-control" style="display: none">Ajouter</button>
                    {{ form_help(form.num_category) }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    {{ form_errors(form.tags) }}
                    {{ form_widget(form.tags) }}
                    {{ form_help(form.tags) }}
                    <div id="tag-container" ></div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="offset-md-2 col-md-8">
                <div class="form-group">

                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description, {'attr': {'style': 'height: 150px;', 'class': 'invisible_input'}}) }}
                    {{ form_help(form.description) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-7">
                <div id="form-image" class="form-group">
                    {{ form_label(form.image) }}
                    {{ form_errors(form.image) }}
                    {{ form_widget(form.image) }}
                    {{ form_help(form.image) }}
                </div>

            </div>
            <div class="col-md-1">
                <img id="blah" class="img-fluid " style="max-width: 75px" src="{{ form.image.vars.value.fileName is defined ? asset('images/' ~ form.image.vars.value.fileName)}}">
            </div>



        </div>
        <div class="row">


            <div class="offset-md-2 col-md-8">

                <div id="animation_loading_editor" class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div id="article_editor" class="form-group shadow" style="display: none">
                    {{ form_errors(form.body) }}
                    {{ form_widget(form.body) }}
                    {{ form_help(form.body) }}
                </div>
            </div>

        </div>
        {{ form_end(form) }}
    </div>

    {% include 'article/modalValideDelete.html.twig' %}
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('article') }}

    {% endblock %}
