<!-- Modal Mofification d'un utilisateur -->
<div class="modal fade" id="edtUserModel" tabindex="-1" role="dialog" aria-labelledby="addUserModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModelLabel">Modification d'un utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(formUserAdd) }}
            <div class="modal-body">

                {{form_row(formUserAdd.username, {'attr' : {'readonly': 'readonly'}}) }}
                {{form_row(formUserAdd.firstName) }}
                {{form_row(formUserAdd.lastName) }}

                {{form_row(formUserAdd.roles) }}

                {% for item in formUserAdd.roles.vars.label %}
                    {{ item }}
                {% endfor %}

                {{form_row(formUserAdd.adresseMail) }}
                {{form_row(formUserAdd.enable) }}


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                {{form_row(formUserAdd.submit) }}
                {{form_row(formUserAdd._token)}}


            </div>
            {{ form_end(formUserAdd, {'render_rest': false})}}
        </div>
    </div>
</div>